.article__more {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  align-items: center;
  margin: 16px 0 0 31px;
  cursor: pointer;
}

.article__more::before {
  content: '';
  position: absolute;
  margin-left: -30px;
  width: 24px;
  height: 24px;
  background: url(../../../images/expand.svg);
}

@media screen and (min-width: 520px) {
  .article__more {
    margin: 10px 0 0 31px;
  }
}

@media screen and (min-width: 880px) {
  .article__more {
    margin-top: 12px;
    letter-spacing: -0.2px;
  }
}